.main_page {
	width: 1920px;
	height: 2160px;
	position: relative;
	background-image: url(./images/main_background.png);
	background-size : 1920px;
	margin: auto;
}


.main_top_left_message_box { 
	width:430px;
	height:66px;
	position:absolute;
	left:40px;
	top:40.35546875px;
}
.main_top_left_message_1 { 
	color: 36373F;
	width:99px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Pretendard;
	font-weight: bold;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.main_top_left_message_2 { 
	color:36373F;
	width:430px;
	height:29px;
	position:absolute;
	left:0px;
	top:37px;
	font-family:Pretendard;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.main_top_right_message_box { 
	width:430px;
	height:66px;
	position:absolute;
	left:1451px;
	top:40.35546875px;
}
.main_top_right_message_1 { 
	color:rgba(53.7093959748745, 55.27140475809574, 63.47192332148552, 1);
	width:430px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Pretendard;
	font-weight: bold;
	text-align:right;
	font-size:24px;
	letter-spacing:0;
}
.main_top_right_message_2 { 
	color:rgba(53.7093959748745, 55.27140475809574, 63.47192332148552, 1);
	width:220px;
	height:29px;
	position:absolute;
	left:210px;
	top:37px;
	font-family:Pretendard;
	text-align:right;
	font-size:23px;
	letter-spacing:0;
}

.main_title {
	width: 1000px;
	height: 147.06px;
	position: absolute;
	left: 461px;
	top: 466px;
}

.sub_title {
	width: 789px;
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	font-size: 64px;
	position: absolute;
	left: 566px;
	top: 610px;
}

.main_image {
	width: 1000px; 
	height: 820px;
	position: absolute;
	left: 460px;
	top: 1246px;
}


.message_box { 
	width:700px;
	height:242.23916625976562px;
	position:absolute;
	left:1117px;
	top: 1287px;
}
.message_top { 
	width:671.5012817382812px;
	height:99.74553680419922px;
	position:absolute;
	left:14.249363899230957px;
	top:14.249361991882324px;
}

.message_bottom{ 
	width:671.5012817382812px;
	height:99.74553680419922px;
	position:absolute;
	left:14.249363899230957px;
	top:128.2442626953125px;
}

.message_frame { 
	background-color:rgba(247.92772829532623, 247.92772829532623, 247.92772829532623, 0.8199999928474426);
	border-radius: 25px;
	width:671.5012817382812px;
	height:99.74553680419922px;
	position:absolute;
	left:0px;
	top:0px;
}

.logo_image { 
	width:67.68px;
	height:67.68px;
	position:absolute;
	left:16.03px;
	top:16.03px;
	background-image:url(images/vector.png);
	background-repeat:no-repeat;
	background-size:cover;
	border-radius: 20px;
}

.message_text1 { 
	color:rgba(34.00000177323818, 34.00000177323818, 34.00000177323818, 1);
	font-size: 25px;
	position:absolute;
	font-weight: bold;
	left: 99.05px;
	top: -4%;
}
.message_text2 { 
	color:rgba(62.68750101327896, 62.68750101327896, 62.68750101327896, 1);
	font-size: 25px;
	position:absolute;
	left: 99.05px;
	top: 27%;
}
.message_text3 { 
	color:rgba(62.68750101327896, 62.68750101327896, 62.68750101327896, 1);
	opacity:0.5;
	font-size: 21px;
	position:absolute;
	left: 610px;
	top: 4%;
}

.download_button { 
	width: 600px;
	height: 118.5px;
	position:absolute;
	left: 660px;
	top: 1952px;
}

.google_play { 
	width: 306.21px;
	height: 118.5px;
	position: absolute;
	left: 293.78px;
	top: -3.63px;
	background-image:url(images/google.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.app_store { 
	width: 268.29px;
	height: 79.63px;
	position:absolute;
	left: 0px;
	top: 18.96px;
	background-image:url(images/apple.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.feature_content {
	width: 1920px;
	height: 3240px;
	margin: auto;
}

.feature_content_1 {
	width: 1920px;
	height: 1080px;
	background-color: 5B76E4;
	position: relative;
}

.feature_box {
	background-color: white;
	border-radius: 100px;
	width: 182px;
	height: 55px;
	position: absolute;
	left: 869px;
	top: 80px;
}

.feature_content_1_text {
	font-family: Roboto;
	font-weight: bold;
	font-size: 28px;
	color: 95A7EE;
	position:absolute;
	left: 32px;
	top: 11px;
	margin: 0px;
}

.feature_number {
	font-family: Roboto;
	font-weight: bold;
	font-size: 38px;
	color: white;
	position:absolute;
	left: 937px;
	top:155px;
	margin: 0;
}

.feature_text_1 {
	width: 506px;
	height: 131px;
	font-family: Roboto;
	font-weight: bold;
	font-size: 59px;
	color: white;
	position:absolute;
	left: 707px;
	top: 222px;
	margin: 0;
}

.feature_image{
	width: 500px;
	height: 637px;
	position:absolute;
	left: 710px;
	top: 443px;
}

.feature_content_2 {
	width: 1920px;
	height: 1080px;
	background-color: 95A7EE;
	position: relative;
}

.feature_content_2_text {
	font-family: Roboto;
	font-weight: bold;
	font-size: 28px;
	color: 5B76E4;
	position:absolute;
	left: 32px;
	top: 11px;
	margin: 0px;
}

.feature_text_2 {
	width: 845px;
	height: 132px;
	font-family: Roboto;
	font-weight: bold;
	font-size: 59px;
	text-align: center;
	color: white;
	position:absolute;
	left: 537px;
	top: 222px;
	margin: 0;
}

.feature_content_3 {
	width: 1920px;
	height: 1080px;
	background-color: FFD958;
	position: relative;
}

.feature_text_3 {
	width: 663px;
	height: 132px;
	font-family: Roboto;
	font-weight: bold;
	font-size: 59px;
	text-align: center;
	color: white;
	position:absolute;
	left: 606px;
	top: 222px;
	margin: 0;
}

.function_page {
	width: 1920px;
	height: 4320px;
	background-color: white;
	margin: auto;
}

.function_title {
	width: 1920px;
	height: 455px;
	position: relative;
}

.function_title_text_box {
	background-color: 95A7EE;
	border-radius: 100px;
	width: 182px;
	height: 55px;
	position: absolute;
	left: 869px;
	top: 80px;
}

.function_title_text_box_text {
	font-family: Roboto;
	font-weight: bold;
	font-size: 28px;
	color: white;
	position:absolute;
	left: 52px;
	top: 11px;
	margin: 0px;
}

.function_title_text {
	font-family: Roboto;
	font-weight: bold;
	font-size: 40px;
	color: 7F8295;
	position:absolute;
	left: 761px;
	top: 176px;
	margin: 0px;
}

.function_content {
	width: 1920px;
	height: 1000px;
	position: relative;
}

.function_image_left {
	width: 500px;
	height: 1000px;
	position: absolute;
	left: 397px;
	top: 15.8px;
	z-index: 1;
}

.function_content_1_box {
	width: 1300px;
	height: 1000px;
	background-color: 5B76E4;
	position: absolute;
	left: 620px;
	top: 15.8px;
	z-index: 0;
}

.function_content_right_circle {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 746px;
	top: 342px;
}

.function_content_1_title {
	font-family: Roboto;
	font-weight: bold;
	font-size: 56px;
	color: white;
	position: absolute;
	left: 580px;
	top: 462px;
	margin: 0;
}

.function_content_1_text {
	font-family: Roboto;
	font-size: 32px;
	color: white;
	text-align: center;
	position: absolute;
	left: 580px;
	top: 586px;
	margin: 0;
}

.function_empty {
	width: 1920px;
	height: 245px;
	background-color: white;
}

.function_image_right {
	width: 500px;
	height: 1000px;
	position: absolute;
	left: 1020px;
	top: 15.8px;
	z-index: 1;
}

.function_content_2_box {
	width: 1300px;
	height: 1000px;
	background-color: 95A7EE;
	position: absolute;
	left: 0px;
	top: 15.8px;
	z-index: 0;
}

.function_content_left_circle {
	width: 80px;
	height: 80px;
	position: absolute;
	left: 490px;
	top: 342px;
}

.function_content_2_title {
	font-family: Roboto;
	font-weight: bold;
	font-size: 56px;
	color: white;
	position: absolute;
	left: 368px;
	top: 462px;
	margin: 0;
}

.function_content_2_text {
	font-family: Roboto;
	font-size: 32px;
	color: white;
	text-align: center;
	position: absolute;
	left: 283px;
	top: 586px;
	margin: 0;
}

.function_content_2_description {
	font-family: Roboto;
	font-size: 24px;
	color: white;
	text-align: center;
	position: absolute;
	left: 370px;
	top: 675px;
	margin: 0;
}

.function_content_3_box {
	width: 1300px;
	height: 1000px;
	background-color: FFD958;
	position: absolute;
	left: 620px;
	top: 15.8px;
	z-index: 0;
}

.function_content_3_title {
	font-family: Roboto;
	font-weight: bold;
	font-size: 56px;
	color: white;
	position: absolute;
	left: 600px;
	top: 462px;
	margin: 0;
}

.function_content_3_text {
	font-family: Roboto;
	font-size: 32px;
	color: white;
	text-align: center;
	position: absolute;
	left: 560px;
	top: 586px;
	margin: 0;
}

.footer {
	width: 1920px;
	height: 1080px;
	background-color: 5B76E4;
	position: relative;
	margin: auto;
}

.footer_logo {
	width: 150px;
	height: 150px;
	position: absolute;
	right: 71px;
	top: 71px;
}

.footer_img {
	width: 854.02px;
	height: 647.14px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}

.footer_title {
	font-family: Roboto;
	font-size: 96px;
	font-weight: bold;
	color: white;
	position: absolute;
	top: 90px;
	left: 90px;
	margin: 0;
}

.footer_text {
	font-family: Roboto;
	font-size: 24px;
	color: white;
	position: absolute;
	top: 347px;
	left: 90px;
	margin: 0;
}

.footer_developer {
	width: 934px;
	height: 99px;
	position: absolute;
	left: 90px;
	bottom: 90px;
}

.pm_header {
	font-family: Pretendard;
	font-size: 24px;
	font-weight: bold;
	color: white;
	position: absolute;
	margin: 0;
}

.pm_name {
	ont-family: Pretendard;
	font-size: 24px;
	color: white;
	position: absolute;
	top: 35px;
	margin: 0;
}

.design_header {
	font-family: Pretendard;
	font-size: 24px;
	font-weight: bold;
	color: white;
	position: absolute;
	left: 180px;
	margin: 0;
}

.design_name {
	ont-family: Pretendard;
	font-size: 24px;
	color: white;
	position: absolute;
	top: 35px;
	left: 180px;
	margin: 0;
}

.android_header {
	font-family: Pretendard;
	font-size: 24px;
	font-weight: bold;
	color: white;
	position: absolute;
	left: 360px;
	margin: 0;
}

.android_name {
	ont-family: Pretendard;
	font-size: 24px;
	color: white;
	position: absolute;
	top: 35px;
	left: 360px;
	margin: 0;
}

.ios_header {
	font-family: Pretendard;
	font-size: 24px;
	font-weight: bold;
	color: white;
	position: absolute;
	left: 540px;
	margin: 0;
}

.ios_name {
	ont-family: Pretendard;
	font-size: 24px;
	color: white;
	position: absolute;
	top: 35px;
	left: 540px;
	margin: 0;
}

.server_header {
	font-family: Pretendard;
	font-size: 24px;
	font-weight: bold;
	color: white;
	position: absolute;
	left: 720px;
	margin: 0;
}

.server_name {
	font-family: Pretendard;
	font-size: 24px;
	color: white;
	position: absolute;
	top: 35px;
	left: 720px;
	margin: 0;
}